@import "tailwindcss";

@theme {
  --font-open-sans: 'Open Sans', sans-serif;
  --font-parkinsans: 'Parkinsans', sans-serif;

  --color-yellow: #FFC400;
  --color-blue: #40AED7;
  --color-pink: #EE807F;
  --color-orange: #FF6309;
  --color-green: #61C9A8;

  --color-yellow-pastel: #FFF6DC;
  --color-blue-pastel: #E4F8FF;
  --color-pink-pastel: #FFE9E9;
  --color-orange-pastel: #FFDFCC;
  --color-green-pastel: #D7FFF2;

  --color-blue-light: #A7E0F5;
  --color-yellow-light: #FFEFB6;
  --color-red: #ED0131;

  --color-white: #FFFFFF;
  --color-gray-50: #FDFAF4;
  --color-gray-200: #E4DFD1;
  --color-gray-300: #CEC9BC;
  --color-gray-400: #B8A9A1;
  --color-gray-500: #968A84;
  --color-gray-800: #59504C;
  --color-black: #2C2420;
}

:root {
  font: 1rem var(--font-open-sans);
}

h1 {
  @apply font-parkinsans text-4xl sm:text-7xl font-bold leading-[1.1];
}

h2 {
  @apply font-parkinsans text-[2rem] sm:text-5xl font-bold leading-[1.2];
}

h3 {
  @apply font-parkinsans text-[1.75rem] sm:text-[2rem] font-bold leading-[1.2];
}

h4 {
  @apply font-parkinsans text-xl sm:text-2xl font-bold leading-[1.4];
}

.bodyXL {
  @apply text-lg sm:text-xl leading-[1.5]
}

.bodyLG {
  @apply text-base sm:text-lg leading-[1.5]
}

.bodyMD {
  @apply text-sm sm:text-base leading-[1.5]
}

.bodySM {
  @apply text-xs sm:text-sm leading-[1.5]
}

.bodyXS {
  @apply text-[0.625rem] sm:text-xs leading-[1.5]
}

.bodyButton {
  @apply text-sm sm:text-base font-semibold leading-[1.5]
}

.border-primary {
  @apply border border-gray-200
}
.border-secondary{
  @apply border border-gray-400
}

/* styles.css */
.yellow-shadow {
  @apply drop-shadow-[5px_5px_0px_rgba(255,196,0,1)];
}
.blue-shadow {
  @apply drop-shadow-[5px_5px_0px_rgba(64,174,215,1)];
}
.green-shadow {
  @apply drop-shadow-[5px_5px_0px_rgba(97,201,168,1)];
}
.pink-shadow {
  @apply drop-shadow-[5px_5px_0px_rgba(238,128,127,1)];
}


body {

}
