@import "tailwindcss";

@theme {
  --font-open-sans: 'Open Sans', sans-serif;
  --font-parkinsans: 'Parkinsans', sans-serif;
}

h1 {
  @apply font-parkinsans text-4xl;
}
:root {
  font: 16px var(--font-open-sans);
}

body {
}
